<%- include("layout/header") %>
<div class="container my-4">
    <div class="row text-center">
        <% videos.forEach(function(video) { %>
            <div class="col-md-4">
                <div class="video-thumbnail">
                    <!-- Clickable Video Thumbnail -->
                    <a href="/video/<%= video._id %>">
                        <img src="<%= video.thumbnail %>" alt="<%= video.title %>" class="img-fluid">
                    </a>
                    <h5><%= video.title %></h5>
                </div>
            </div>
        <% }) %>
    </div>
</div>
<%- include("layout/footer") %>

